{{define "comment"}}
<article class="comment-item" id="comment-{{.ID}}">
    <div class="comment-item-avatar">
        {{template "user-avatar" (dict "User" .User "Size" "sm")}}
    </div>
    <div class="comment-item-body">
        <header class="comment-item-header">
            <strong class="comment-item-author">{{.User.Name}}</strong>
            <time class="comment-item-time" datetime="{{.CreatedAt.Format "2006-01-02T15:04:05Z07:00"}}">{{.CreatedAt.Format "Jan 2, 3:04 PM"}}</time>
        </header>
        <p class="comment-item-text">{{.Body}}</p>
    </div>
</article>
{{end}}
